html
  head 
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(src='scripts/common.js')
    link(rel='stylesheet', href='/styles/main.css')
    block head
  body
    include ../partials/menu
    
    block content

    include ../partials/footer
    