.large-12.columns
  nav.top-bar(data-topbar='')
    ul.title-area
      li.name
        h1
          a(href='#') Menu
      li.toggle-topbar.menu-icon
        a(href='#')
          span Menu
    section.top-bar-section
      ul.left
        li
          a(href='') link1
        li
          a(href='') link2
        li
          a(href='') link3
